.container {
    margin-top: 30px;
}

.row {
    margin-top:30px;

}

p {
    text-align:justify;
}

.custom-footer {
    display:block;
    background-color:rgb(61, 145, 79);
    margin-top:30px;
}

h1 {
    border-bottom:solid;
    border-bottom-color:#666;
    border-bottom-width:2px;
}

